


<p> <div align="center"><img src="http://i.imgur.com/MZ1uKe1.png"><p>
</div>
<form>
Insira o termo que você quer buscar: <br>
<input type="text" name="hashtag" placeholder="#Exemplo">
<p>
Insira o Twitter em que você quer ser avisado:<br><input type="text" name="twitteruser" placeholder="@Usermane">
<P>

</form>
<form>
	Em quais Trend Topics você quer buscar?<br>
<input type="checkbox" name="saopaulo">
São Paulo
<br>
<input type="checkbox" name="brasil">
Brasil<br>
<input type="checkbox" name="world">
Mundo
<P>
<input type="submit" value="Enviar"><P>
</form><P><P><P>
  The time is now: <%= Time.now %>
</p>
--
